@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@600;700;800&display=swap');

body {
  font-family: $font-body;
  color: $dark-carbon;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headings;
  line-height: 1.1;
  font-weight: 700;
}

.text-primary {
  color: $primary-red;
}

.text-uppercase {
  text-transform: uppercase;
}
